h1{color:pink;text-shadow:8px 7px 6px #FE0A94 ;text-align:center;font-size:8rem;background-color:#D8BAEC}
#tid{color:blue;color:#019633;text-align:center;font-size:3rem;background-color:#BFFFE9}


